<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jetmentor">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_jetmentor_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".createForumPostActivity"></activity>
        <activity android:name=".openForumPostActivity" />
        <activity android:name=".openMentorDetailsActivity" />
        <activity android:name=".openConnectionDetailsActivity" />
        <activity android:name=".openMPConnectionDetailsActivity" />
        <activity android:name=".openEPConnectionDetailsActivity" />
        <activity android:name=".openMCConnectionDetailsActivity" />
        <activity android:name=".openECConnectionDetailsActivity" />
        <activity android:name=".viewProfileActivity" />
        <activity android:name=".editMentorDetailsActivity" />
        <activity android:name=".loginActivity" />
        <activity
            android:name=".landingStrip"
            android:label="@string/title_activity_landing_strip" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>